@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color:#2b6777;
    --secondary-color:#07bff1;
    --dark-color:#051a20;
    --light-color:#c6dbe0;



}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Lato', sans-serif;
    color:#333 ;
    line-height: 1.6;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#333 ;
}

h2, h1{
    font-weight:300 ;
    line-height: 1.2;
    margin: 10px 0;

}

p{
    margin: 10px 0;

}

img{
    width: 100%;
}
.hidden{
    visibility: hidden;
    height: 0;
}

/*navbar*/

.navbar{
    background-color:var(--primary-color) ;
    color: white;
    height: 70px;
}

.navbar ul{
    display: flex;

}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;

}
.navbar a:hover{
    border-bottom: 2px white solid ;
    color: var(--secondary-color);
}

.navbar .flex{
    justify-content: space-between;
}

/*showcase*/
.showcase{
    height:400px;
    background-color:var(--primary-color) ;
    color: white;
    position: relative;
}
.showcase h1 {
    font-size: 40px;

}
.showcase p{
    margin: 20px 0;
    
}
.showcase .grid{
    grid-template-columns: ;
    gap: 30px;
    overflow: visible;

}
.showcase-form{
    position: relative;
    top: 60px;
   
    height: 350px;
    width: 370px;
    padding: 40px;
    z-index: 100;

}

.showcase-form .form-control{
    margin: 30px 0;
    

}
.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size:16px ;
}
.showcase-form input:focus{
    outline: none;
}
.showcase::before,
.showcase::after
{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
.showcase-text{
    animation: slideinfromleft 1s ease-in ;
}
.showcase-form{
    animation: slideinfrombottom 1s ease-in;
}
/*stats*/
.stats{
    padding-top: 100px;
    animation: slideinfrombottom 1s ease-in;

}

.stats-heading {
    margin: auto;
   
    
    


}
.stats .grid h3 {
    font-size:35px ;

}
.stats .grid p{
    font-size: 26px;
    font-weight: bold;
}

/*cli*/
.cli .grid{
  grid-template-columns: repeat(3,1fr); 
  grid-template-rows: repeat(2,1fr);
}
.cli .grid > *:first-child{
    grid-column: 1/span 2;
    grid-row:1/span 2;


}
/*cloud*/
.cloud .grid {
    display: grid;
   grid-template-columns: 1fr,1fr;
    
   
    


}
 .cloud .container .fas{
    justify-self: right;

    
    
}

.fa-3x{
    color:#fcde67 ;
}
/*Languages*/
.languages .flex{
    flex-wrap:wrap;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: 0.2 ease-in;

}

.languages .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card:hover{
   transform: translateY(-15px); 
}
/*footer*/
.footer .social a{
    margin: 0 10px;
}
 footer .social a:hover, footer ul a:hover{
    color: var(--secondary-color)
}

/*animations*/
@keyframes slideinfromleft{
    0%{ transform: translateX(-100%);}
    100%{transform: translateX(0);}

}
@keyframes slideinfromright{
    0%{ transform: translateX(100%);}
    100%{transform: translateX(0);}

}
@keyframes slideinfromtop{
    0%{ transform: translateY(-100%);}
    100%{transform: translateX(0);}

}
@keyframes slideinfrombottom{
    0%{ transform: translateY(100%);}
    100%{transform: translateX(0);}

}


/*tablet*/
@media(max-width:700px){
    .navbar{
        height:150px;
        
    }
.navbar .flex{
    display: ;
    flex-direction: column;}

    .navbar ul{
        display:inline-flex;
        font-size:10px
        padding: 10px;
        background-color: rgba(0,0,0,0.1);


    }
    .grid, .grid-3, .showcase .grid, .stats .grid,
    .cli .grid, .cloud .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;


    }
    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;

    }
    .showcase-form{
        justify-self: center;
        max-width: 250px;
        margin: auto;
    }
    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row:1;
    
    
    }
    .cloud .container { display: 1fr;}
}
/*mobile*/
